name: CI Checks
inputs:
  tflint-version:
    description: "TFLint version to use"
    required: false
    type: string
    default: "0.48.0"
  tfsec-version:
    description: "TFSec version to use"
    required: false
    type: string
    default: "1.28.4"
  terraform-docs-version:
    description: "Terraform Docs version to use"
    required: false
    type: string
    default: "0.16.0"

on:
  pull_request:

jobs:
  run_checks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install tflint
      shell: bash
      run: |
        mkdir -p "$HOME/bin"
        curl -LsO https://github.com/terraform-linters/tflint/releases/download/v0.55.0/tflint_linux_amd64.zip
        unzip tflint_linux_amd64.zip -d "$HOME/bin"
        [ -x "$HOME/bin/tflint" ]
        echo "$HOME/bin" >> "$GITHUB_PATH"
        rm tflint_linux_amd64.zip

    - name: Install tfsec
      shell: bash
      run: |
        curl -Ls https://github.com/aquasecurity/tfsec/releases/download/v1.28.4/tfsec-linux-amd64 -o "$HOME/bin/tfsec"
        chmod +x "$HOME/bin/tfsec"
        [ -x "$HOME/bin/tfsec" ]

    - name: Install terraform-docs
      shell: bash
      run: |
        curl -Ls https://github.com/terraform-docs/terraform-docs/releases/download/v0.19.0/terraform-docs-v0.19.0-linux-amd64.tar.gz | tar -xzv --directory "$HOME/bin" --no-anchored terraform-docs
        [ -x "$HOME/bin/terraform-docs" ]

    - name: Run Pre-commit Checks
      uses: pre-commit/action@v3.0.1
