name: CI Checks

on:
  pull_request:

jobs:
  run_checks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Run Pre-commit Checks
      uses: pre-commit/action@v3.0.1
